# Data Structures

1) What are data structures, and why are they important?

  - A data structure is a way of organizing and storing data in a computer so that it can be accessed and used efficiently for different operations.
 They are important because They are efficient,they can be used for optimization of code and organizing data in a way which is easily accessable for computer in short they are essential for building fast , scalable , and maintainable software.


2) Explain the difference between mutable and immutable data types with examples?

 - Mutability:- Means which can be changed example:- List,Dictionary
 -Immutability:- Means which can not be changed expample:- Tuple,String

3) What are the main differences between lists and tuples in Python?

- List:- In List The item can be changed means its mulatble.
- Tuple:- In Tuple the item can not be changed means its immutable.

4) Describe how dictionaries store data?

- Dictionaries store data in a key and value pair. Where 'value' can be of any datatype and also can be repetable and 'key' is unique and immutable.

5) Why might you use a set instead of a list in Python?

- We use set instead of a list in python when we care about uniqueness and fast look-up (fast accesbility of data without searching through every thing).

6) What is a string in Python, and how is it different from a list?

- A string in python is a sequence of character which can be written in either in single or double quotes. List is a sequence of element of any type.
- String are immutable , list are mutable.

7) How do tuples ensure data integrity in Python?

- Tuple in python are immutable so it means that it can't be changed once written inside the tupe syntax because of which it ensures data integrity and security of data.
- Example:- Aadhar card and pan card number are stored inside tuple.So, that it can't get changed and because these are private data which require high security.

8) What is a hash table, and how does it relate to dictionaries in Python?

- Hash table in python is data structure thar stores in key and value pair and also allow fast loop-up,insetion and deletion through hashing. key pass through hash function through that it is stored in unique number (hash code) and that hash code determine where will the value be stored in memory.
- Dictionary is immplemented using hash table internally.

9) Can lists contain different data types in Python?
- Yes list can contain different data types in python.

10) Explain why strings are immutable in Python?
- String are sequence of character which can't be changed individually like list or dictionary.
If we try to modify it. Python will make a new object of the string instead of changing the original one.

11) What advantages do dictionaries offer over lists for certain tasks?

- Element Access speed is fast, uniqueness of key which don't allow duplicate values and also uses lookup table.

12) Describe a scenario where using a tuple would be preferable over a list?

- As we know that tuple is immutable menans the data can't be changed so to store confidential data we use tuple as we cannot overwite the value in tuples like list.
- Example:- Aadhar and Pan number are stored in tuple as they are confidential data and cannot be overwritten.

13) How do sets handle duplicate values in Python?
- As we know set only store data which are unique in it. So when it stores or insert a data which is already in set will ignore the additional and content will remain unchanged.

14) How does the “in” keyword work differently for lists and dictionaries?

- List :- In list the 'in' keyword performs a linear search to determine if a specified value exists within the list. It iterates through each element on the list and compares it to the target value.
- Dictionary :- In dictionaries 'in' keyword check for existance of 'key',not a value.Dictionry in python are executed as hash table,which allows for significantly faster lookups.

15)  Can you modify the elements of a tuple? Explain why or why not?

- We can not modify the elements of a tuple because it is a immutable data type meaning its value cannot be changed, added to or removed.Its more memory efficient because of its fixed size and also has data intigrity meaning the data will remain constant through the program.
- And if you try to change the element in a tuple it will raise a typeError,stating object does not support item.

16) What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary where the value associated with a key is another dictionary.This structure create complex hirarchical data models.
- Example:- Common usecase for nested dictionary is to store structure information,like records for multiple employees. The outer dictionary can hold each employee's unique ID as a key, and the value for each ID can be another dictionary containing that employees specific detalis.

17) Describe the time complexity of accessing elements in a dictionary?

- The time complexity of accessing element in a dictionary is on average O(1), means it takes constant time. on Worst case its O(n).

18) In what situations are lists preferred over dictionaries?

- You should prefer list when the order of your items is important and you need to access them by their numerical postion(index), rather than by a unique key
- when storing a duplicate.
- when accessing by positio is necessary.

19)  Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries are considered unordered because their main goal was fast data retrival.
- The fundamental rule of data retrival in a dictionary is that it's a mapping from a key to a value. Even though we entered a value it stores it at random position in the memory so as long as we use the assigned key we will retrieve value immediately.

20) Explain the difference between a list and a dictionary in terms of data retrieval.

# List
-  Data is retrived using indexed positioning.
- positional access based on order
- slower because its has to go through each and every element O(n).

# Dictionary
- Data is retrived using key. (unique identifier).
- Key based access.
- Faster O(1) direct access using hash table.

# Coding

In [1]:
# 1)Write a code to create a string with your name and print it?

name = input("Enter your name: ")
print(name)

Enter your name: Alex
Alex

In [2]:
# 2)Write a code to find the length of the string "Hello World"?

a = "Hello World"
print(len(a))

11

In [3]:
# 3)Write a code to slice the first 3 characters from the string "Python Programming"?

a = "Python programming"
print(a[0:3])

Pyt

In [8]:
# 4) Write a code to convert the string "hello" to uppercase?

a = "hello"
print(a.upper())

HELLO

In [9]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [10]:
# 6) Write a code to create a list with numbers 1 to 5 and print it?

a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [13]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4]?

a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [14]:
# 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

a = [1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [16]:
#9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

a=['a', 'b', 'c', 'd']
print(a[1])

b

In [17]:
# 10)  Write a code to reverse the list [10, 20, 30, 40, 50].

a = [10, 20, 30, 40, 50]

print(a[::-1])

[50, 40, 30, 20, 10]

In [18]:
#11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

a = (100,200,300)
print(a)

(100, 200, 300)

In [19]:
#12)  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

a = ('red', 'green', 'blue', 'yellow')
print(a[-2])

blue

In [20]:
#13)  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

a = (10, 20, 5, 15)
print(min(a))

5

In [22]:
#14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animal = ('dog', 'cat', 'rabbit')
print(animal.index('cat'))

1

In [23]:
#15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [24]:
#16)  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

a = {'a','b','c'}
print(a)

{'b', 'a', 'c'}

In [25]:
#17)  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

a = {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [26]:
#18)  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

a = {1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [28]:
#19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a={1,2,3}
b={3,4,5}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5}

In [29]:
#20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a = {1,2,3}
b = {2,3,4}
c = a.intersection(b)
print(c)

{2, 3}

In [33]:
#21)  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

a = {"name": "John", "age": 25, "city": "New York"}
print(a)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [37]:
#22)  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a = {'name':'John','age':25}
a['country'] = 'USA'
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
#23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

a = {'name': 'Alice', 'age': 30}
print(a['name'])

Alice

In [45]:
#24)  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

a = {'name':'Bob','age':22,'city':'New York'}
a.pop('age')
print(a)

{'name': 'Bob', 'city': 'New York'}

In [46]:
# 25)  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

a = {'name': 'Alice', 'city': 'Paris'}
if 'city' in a:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

In [47]:
# 26)Write a code to create a list, a tuple, and a dictionary, and print them all.

a = [1,2,3,4]
b = (1,2,3,4)
c = {'name':'John','age':25}
print(a)
print(b)
print(c)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'John', 'age': 25}

In [48]:
# 27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
numbers = [random.randint(1, 100) for i in range(5)]
numbers.sort()
print(numbers)

[54, 59, 61, 76, 95]

In [49]:
# 28)  Write a code to create a list with strings and print the element at the third index.

a = ["apple","banana","orange","grapes","mango"]
print(a[3])

grapes

In [50]:
# 29)  Write a code to combine two dictionaries into one and print the result

a = {'name': 'John', 'age': 25}
b = {'city': 'New York', 'country': 'USA'}
a.update(b)
print(a)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [53]:
# 30) Write a code to convert a list of strings into a set.

a = ["apple","banana","grapes","mango"]
print(set(a))

{'mango', 'grapes', 'banana', 'apple'}